<launch>

<node machine="top" pkg="rosbag" type="record" name="rosbag_record_top"
            args="record -ao /home/nelson/ORCA/rosbags/TOP.bag"
            />

<node machine="rov" pkg="rosbag" type="record" name="rosbag_record_rov"
            args="record -ao  /home/jetson/ORCA/rosbags/ROV.bag"
            />

</launch>