<launch>

    <machine name="top" address="192.168.2.1" user="nelson" env-loader="/home/nelson/ORCA_control/redrov/src/redrov_missions/scripts/top_setup.bash"/>
    <machine name="rov" address="192.168.2.2" user="jetson" env-loader="/home/jetson/ORCA_control/redrov/src/redrov_missions/scripts/rov_setup.bash"/>

    <rosparam file="$(find redrov_control)/config/propulsion_config.yaml" />
    <include file="$(find redrov_missions)/launch/data_logger.launch" />

    <node machine="top" pkg="joy" name="joy" type="joy_node">
        <param name="coalesce_interval" value="0.002"/>
        <param name="autorepeat_rate" value="50"/>
    </node>

    <node machine="rov" pkg="redrov_missions" name="mavlink_router" type="mavrouter.sh"/>

    <!-- Default mavlink proxy option is mavlink router, switch to mavproxy by uncommet the following -->
    <!-- <node machine="rov" pkg="redrov_missions" name="mavproxy" type="mavproxy.sh"/> -->

    <node machine="rov" pkg="redrov_control" name="joy_manual_control_node" type="joy_manual_control_node" output="screen"/>


</launch>