<launch>

    <node machine="top" pkg="joy" name="joy" type="joy_node">
        <param name="coalesce_interval" value="0.002"/>
        <param name="autorepeat_rate" value="50"/>
    </node>

    <node machine="top" pkg="mocap_qualisys" type="mocap_qualisys_node" name="qualisys" output="screen">
        <param name="server_address" value="192.168.1.51"/>
        <param name="server_base_port" value="22222"/>
        <param name="frame_rate" value="50"/>
        <param name="max_accel" value="3"/>
        <param name="publish_tf" value="true"/>
        <param name="fixed_frame_id" value="world"/>
        <rosparam param="model_list">"[BodyROV01]"</rosparam>
        <remap from="qualisys/BodyROV01/odom" to="/BodyROV01/odom"/>
    </node>
</launch>