<launch>
<!-- This is the station keeping HIL launch file.
Require full ROS network setting and real hardware. -->

    <arg name="TOP_NAME" default="osl"/> 
    <arg name="ROV_NAME" default="pi"/>
    <!-- can be overwritten by env variables -->

    <machine name="top" address="192.168.2.1" user="$(arg TOP_NAME)" env-loader="/home/$(arg TOP_NAME)/ORCA_control/redrov/src/redrov_missions/scripts/$(arg TOP_NAME)_setup.bash"/>
    <machine name="rov" address="192.168.2.2" user="$(arg ROV_NAME)" env-loader="/home/$(arg ROV_NAME)/ORCA_control/redrov/src/redrov_missions/scripts/$(arg ROV_NAME)_setup.bash"/>

    <!-- Logging -->
    <include file="$(find redrov_missions)/launch/data_logger.launch" />


    <!-- Hardware -->
    <rosparam file="$(find redrov_control)/config/propulsion_config.yaml" />

    <node machine="top" pkg="joy" name="joy" type="joy_node">
        <param name="coalesce_interval" value="0.002"/>
        <param name="autorepeat_rate" value="50"/>
    </node>

    <node machine="top" pkg="mocap_qualisys" type="mocap_qualisys_node" name="qualisys" output="screen">
        <param name="server_address" value="192.168.1.51"/>
        <param name="server_base_port" value="22222"/>
        <param name="frame_rate" value="50"/>
        <param name="max_accel" value="3"/>
        <param name="publish_tf" value="true"/>
        <param name="fixed_frame_id" value="world"/>
        <rosparam param="model_list">"[BodyROV01]"</rosparam>
        <remap from="qualisys/BodyROV01/odom" to="/BodyROV01/odom"/>
    </node>

    <!-- <node machine="top" pkg="qualisys" type="qualisys_node" name="qualisys" output="screen">
        <param name="server_address" value="192.168.1.51"/>
        <param name="base_port" value="22222"/>
        <param name="publish_tf" value="true"/>
    </node>

    <arg name="model" default="BodyROV01"/>

    <node machine="top" pkg="qualisys" type="qualisys_odom_node" name="$(arg model)">
        <param name="qualisys_fps" type="double" value="128"/>
        <remap from="~qualisys_subject" to="/qualisys/$(arg model)"/>
    </node> -->


    <!-- <node machine="rov" pkg="redrov_missions" name="mavlink_router" type="mavrouter.sh"/> -->
    <node machine="rov" pkg="redrov_control" name="joy_manual_control_node" type="joy_manual_control_node" output="screen"/>
    <!-- <include file="$(find ping360_sonar)/launch/example.launch" /> -->

    <!-- Control -->
    <rosparam file="$(find redrov_control)/config/pid_controller/pid_controller_master.yaml" />
    <node machine="rov" name="body_position_error_transformer_node" pkg="redrov_control" type="body_position_error_transformer_node" output="screen"/>
    <node machine="rov" name="position_pid_controller" pkg="redrov_control" type="position_pid_controller_node" output="screen"/>
    <node machine="rov" name="velocity_pid_controller" pkg="redrov_control" type="velocity_pid_controller_node" output="screen"/>

    <!-- Multiplexer -->
    <rosparam file="$(find redrov_control)/config/mux_config.yaml" />
    <node name="control_mux" pkg="redrov_control" type="control_mux_node" output="screen"/>

    <!-- Visulisation -->
<!-- 
    <node machine="top" pkg="redrov_control" name="static_tf_publisher" type="static_tf_trans_publisher_node"/> -->

    <!-- <group>
        <machine name="top_HIL" address="192.168.2.1" user="$(arg TOP_NAME)" default="true"/>
        <include file="$(find redrov_simulation)/launch/upload_bluerov2.launch"/>
    </group> -->

    <!-- HW launches-->

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_DVL_2_bl" args="1 0 0 0 0 0 base_link base_DVL" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_2_bl" args="1 0 0 0 0 0 1 base_link imu_link" />

  <!-- start DVL -->
  <arg name="port" default="/dev/ttyAMA0" doc="serial port"/>
  <arg name="baudrate" default="9600" doc="serial baud rate"/>
  <arg name="frame" default="dvl" doc="frame ID"/>
  <arg name="timeout" default="1.0" doc="serial read timeout in seconds"/>
  <node machine="rov" name="teledyne_explorer"
        pkg="teledyne_explorer"
        type="teledyne_explorer"
        output="screen"
        respawn="true"
        respawn_delay="5">
    <!-- Set ROS parameters -->
    <param name="port" value="$(arg port)" type="str"/>
    <param name="baudrate" value="$(arg baudrate)" type="int"/>
    <param name="frame" value="$(arg frame)" type="str"/>
    <param name="timeout" value="$(arg timeout)" type="double"/>
  </node>

  <!-- Convert data from blueROV for localisation node -->
  <node machine="rov" pkg="bluerov_ros_playground" type="SensorDataConverter.py" name="SensorDataConverter" clear_params="true" output="$(arg log_output)">

  </node>


   <!-- State estimation based on raw data, no filter: publishes on /odometry/raw -->
   <node machine="rov" pkg="bluerov_ros_playground" type="rigidBody.py" name="rigidBody" clear_params="true" output="$(arg log_output)">

   </node>

<!-- Pilot converter, to be integrated later -->
	<!-- <node pkg="bluerov_ros_playground" type="pilot_converter.py" name="DVL_converter" output="$(arg log_output)"/>  -->


<!-- State estimation based EKF: publishes on /odometry/filtered -->
	<node machine="rov" pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="$(arg log_output)">
    	<rosparam command="load" file="$(find robot_localization)/params/blueROV2.yaml" />
  </node>
</launch>