<launch>
    

    <rosparam file="$(find redrov_control)/config/pid_controller/pid_controller_master.yaml" />

    <node name="velocity_control_adaptor_node" pkg="redrov_control" type="velocity_control_adaptor_node" ns="velocity_controllers" output="screen" />


    <node name="surge" pkg="redrov_control" type="pid_controller_node" ns="velocity_controllers" output="screen" >
     </node>

    <node name="sway" pkg="redrov_control" type="pid_controller_node" ns="velocity_controllers" output="screen" > 
     </node>

    <node name="heave" pkg="redrov_control" type="pid_controller_node" ns="velocity_controllers" output="screen" >
     </node>

    <node name="yaw" pkg="redrov_control" type="pid_controller_node" ns="velocity_controllers" output="screen" >
     </node>

    <node name="velocity_control_collector_node" pkg="redrov_control" type="velocity_control_collector_node" ns="velocity_controllers" output="screen" />

</launch>