<launch>
<!-- This is the station keeping HIL launch file.
Require full ROS network setting and real hardware. -->

    <arg name="TOP_NAME" default="yu"/> 
    <arg name="ROV_NAME" default="laodi"/>
    <!-- can be overwritten by env variables -->

    <machine name="top" address="192.168.2.1" user="$(arg TOP_NAME)" env-loader="/home/$(arg TOP_NAME)/ORCA_control/redrov/src/redrov_missions/scripts/$(arg TOP_NAME)_setup.bash"/>
    <machine name="rov" address="192.168.2.2" user="$(arg ROV_NAME)" env-loader="/home/$(arg ROV_NAME)/ORCA_control/redrov/src/redrov_missions/scripts/$(arg ROV_NAME)_setup.bash"/>

    <!-- Logging -->
    <include file="$(find redrov_missions)/launch/data_logger.launch" />


    <!-- Hardware -->
    <rosparam file="$(find redrov_control)/config/propulsion_config.yaml" />

    <node machine="top" pkg="joy" name="joy" type="joy_node">
        <param name="coalesce_interval" value="0.002"/>
        <param name="autorepeat_rate" value="50"/>
    </node>

    <node machine="rov" pkg="redrov_missions" name="mavlink_router" type="mavrouter.sh"/>
    <node machine="rov" pkg="redrov_control" name="joy_manual_control_node" type="joy_manual_control_node" output="screen"/>


    <!-- Control loop -->
    <rosparam file="$(find redrov_control)/config/pid_controller/pid_controller_master.yaml" />
    <node machine="rov" name="body_position_error_transformer_node" pkg="redrov_control" type="body_position_error_transformer_node" output="screen"/>
    <node machine="rov" name="position_pid_controller" pkg="redrov_control" type="position_pid_controller_node" output="screen"/>
    <node machine="rov" name="velocity_pid_controller" pkg="redrov_control" type="velocity_pid_controller_node" output="screen"/>


    <!-- Simulation loop -->

    <node machine="top" pkg="redrov_simulation" name="redrov_simulation_node" type="rov_simulation_node" output="screen"/>
    <node machine="top" pkg="redrov_control" name="static_tf_publisher" type="static_tf_trans_publisher_node"/>

    <node machine="top" pkg="redrov_simulation" name="upload_bluerov2_model" type="upload_bluerov2_remote" output="screen"/>


</launch>